body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    background-color: salmon;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 28px;
    background-color: rgba(255, 255, 255, .3);
    text-align: center;
    width: 90%;
    max-width: 450px;
    margin: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
    font-size: 18px;
    font-weight: 500;
}
